/* stile colore per navbar */
.my_grey
{
    background-color: #E5E5E5;
}
#navbar .form-control
{
    background-color: #E5E5E5;
}
.question_style
{
    color:#5B5858 ;
}
.bell_style
{
    color:#FF8F00 ;
}
.piccola_img
{
    max-width: 48px;
    /* soluzione temporanea grandezza img piccola da rivedere  */
}
/* stile colore per navbar fine  */
/* inizio aside  */
#row_aside_main .my_width{
    width: 190px;
}
#row_aside_main
{
    background-color: #051E34;
}
#caselle
{
    color: white;
}
/* fine aside  */
/* inizio main  */
#main
{
    overflow-y: auto;
}
#head_main
{
    background-color:#1B72E8 ;
}
/* fine main  */
/* inizio stilizzazione per dispositivi  */
/* dispositivi medi */
@media screen and (max-device-width:991px) 
{
    #row_aside_main .my_width
    {
        width: 68px;
    }
    #scomparsa
    {
        display: none;
    }
}
/* dispositivi medi fine */
/* dispositivi piccoli */
@media screen and (max-device-width:576px) {
    
}
/* dispositivi piccoli fine */
/* fine stilizzazione per dispositivi  */