.my_grey
{
    background-color: #E5E5E5;
}
#navbar .form-control
{
    background-color: #E5E5E5;
}
.question_style
{
    text-decoration: none;
    color:#5B5858 ;
}
.bell_style
{
    text-decoration: none;
    color:#FF8F00 ;
}